<md-card>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
<md-input-container>
    <input style="width:350px" [ngClass]="{'error': form.controls.firstName.invalid && form.controls.firstName.touched}" mdInput placeholder="First Name" formControlName="firstName">
</md-input-container>
<md-input-container>
    <input style="width:350px" mdInput placeholder="Last Name" formControlName="lastName">
</md-input-container>
<md-input-container>
    <input style="width:350px" mdInput type="email" placeholder="Email" formControlName="email">
</md-input-container>
<md-input-container>
    <input style="width:350px" mdInput type = "password" placeholder="Password" formControlName="password">
</md-input-container>
<md-input-container>
    <input style="width:350px" mdInput type = "password" placeholder="Confirm Password" formControlName="confirmPassword">
</md-input-container>
<span *ngIf="form.errors"> Passwords do not match</span>
<br>
<button md-raised-button color="primary">Submit</button>
</form>
</md-card>